@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lobster';
    src: local('Lobster-Regular'),
    url("../public/static/Lobster-Regular.ttf") format('truetype');
  }
  
  :root {
    --font-family: 'Lobster';
  }
.lobster{
    font-family: var(--font-family);
}

*{
  overflow-x: none ;
}