@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lobster';
  src: local('Lobster-Regular'),
  url("../public/static/Lobster-Regular.ttf") format('truetype');
}

.lobster{
  font-family:'Lobster';
}

